body {
    background: #621F6A;
}
.row{
    display:flex;
    justify-content:center;
}
input {
    font-family: 'Muli',sans-serif;
    font-size:medium;
    display: flex;
    height: 50px;
    width: 500px;
    background-color: white;
    margin: 20px;
    border-radius: 6px;
}
button {
    width: 260px;
    height: 50px;
    background: #00BA76;
    border-radius: 8px;
    font-family:'Muli',sans-serif;
    color:white;
    font-size:large;
}
button:hover{
    background:#110237;
    color:#FFFFFF;
}
h1 {
    font-family: 'Muli',sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 70px;
    color: #FFFFFF;
}
@media (max-width:800px) {
    h1 {
        font-family: 'Muli',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size:1.5rem;
        color: #FFFFFF;
        margin-top:0px;
        margin-bottom:0px;
    }
    svg{
        display:flex;
        height:130px;
    }
    input {
        font-family: 'Muli',sans-serif;
        display: flex;
        height: 45px;
        width: 500px;
        margin: 10px;
        border-radius: 6px;
    }
    button {
        width: 260px;
        height: 50px;
    }

        button:hover {
            background: #110237;
            color: #FFFFFF;
        }
}
